/* Global customization */

:root {
  --code-max-height: 60rem;
  font-size: 16px;
}

.gdoc-post h1::before {
  position: absolute;
  left: -0.7rem;
  color: #f05f40;
  content: "#";
  font-size: 1rem;
}

.gdoc-post h2::before {
  position: absolute;
  left: -0.7rem;
  color: #f05f40;
  content: "#";
  font-size: 0.8rem;
}

.gdoc-post h3::before {
  position: absolute;
  left: -0.7rem;
  color: #f05f40;
  content: "#";
  font-size: 0.5rem;
}

body {
  font-family: "JetBrainsMono";
}

/* Start page customization */
#me::before {
}
#the-nerd,
#the-it-consultant,
#the-entrepreneur {
  color: #f05f40;
}

/* Light mode theming */
:root,
:root[color-mode="light"] {
  --header-background: #f05f40;
  --header-font-color: #ffffff;

  --body-background: #ffffff;
  --body-font-color: #343a40;

  --button-background: #f05f40;
  --button-border-color: #f05f40;

  --link-color: #f05f40;
  --button-border-color: #f05f40;

  --code-background: #f5f6f8;
  --code-accent-color: #e3e7eb;
  --code-accent-color-lite: #eff1f3;

  --accent-color: #e9ecef;
  --accent-color-lite: #f8f9fa;

  --control-icons: #b2bac1;

  --footer-background: #2f333e;
  --footer-font-color: #ffffff;
  --footer-link-color: #f05f40;
  --footer-link-color-visited: #f05f40;
}
@media (prefers-color-scheme: light) {
  :root {
    --header-background: #f05f40;
    --header-font-color: #ffffff;

    --body-background: #ffffff;
    --body-font-color: #343a40;

    --button-background: #f05f40;
    --button-border-color: #f05f40;

    --link-color: #f05f40;
    --link-color-visited: #f05f40;

    --code-background: #f5f6f8;
    --code-accent-color: #e3e7eb;
    --code-accent-color-lite: #eff1f3;

    --accent-color: #e9ecef;
    --accent-color-lite: #f8f9fa;

    --control-icons: #b2bac1;

    --footer-background: #2f333e;
    --footer-font-color: #ffffff;
    --footer-link-color: #f05f40;
    --footer-link-color-visited: #f05f40;
  }
}

/* Dark mode theming */
:root[color-mode="dark"] {
  --header-background: #f05f40;
  --header-font-color: #ffffff;

  --body-background: #1f222a;
  --body-font-color: #ced3d8;

  --button-background: #f05f40;
  --button-border-color: #f05f40;

  --link-color: #f05f40;
  --button-border-color: #f05f40;

  --code-background: #2f353a;
  --code-accent-color: #262b2f;
  --code-accent-color-lite: #2b3035;

  --accent-color: #2b3035;
  --accent-color-lite: #2f353a;

  --control-icons: #b2bac1;

  --footer-background: #1f222a;
  --footer-font-color: #ffffff;
  --footer-link-color: #f05f40;
  --footer-link-color-visited: #f05f40;
}
@media (prefers-color-scheme: dark) {
  :root {
    --header-background: #f05f40;
    --header-font-color: #ffffff;

    --body-background: #1f222a;
    --body-font-color: #ced3d8;

    --button-background: #f05f40;
    --button-border-color: #f05f40;

    --link-color: #f05f40;
    --button-border-color: #f05f40;

    --code-background: #2f353a;
    --code-accent-color: #262b2f;
    --code-accent-color-lite: #2b3035;

    --accent-color: #2b3035;
    --accent-color-lite: #2f353a;

    --control-icons: #b2bac1;

    --footer-background: #1f222a;
    --footer-font-color: #ffffff;
    --footer-link-color: #f05f40;
    --footer-link-color-visited: #f05f40;
  }
}
